@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
   margin: 0;
   font-family: 'Helvetica';
   color: #313346;
}

*::selection {
   background: #F299D3;
   color: white;
}

/* ###### HEADER ######  */

li {
   list-style: none;
   height: 100%;
}

body {
   background: #E9E9E9;
}

a {
   text-decoration: none;
}

.navHeader {
   display: flex;
   align-items: center;
   width: 100%;
   height: 80px;
   background:#8b90c7;
}

.menu {
   height: 100%;
}

.menu ul{
   display: flex;
   align-items: center;
   height: 100%;
}

.logoHeader {
   display: flex;
   align-items: center;
   width: 100%;
   margin-left: 15px;
}

.logoHeader svg {
   fill: #E4EDF2;
}

.logoHeader::after {
   content: 'lite version';
   color: rgba(255, 255, 255, 0.5);
   font-size: 8pt;
   text-align: center;
   justify-items: center;
}

.logoHeader svg:hover {
   fill: #F299D3;
   cursor: pointer;
}

.menu a {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 15vw;
   height: 100%;
   color: #E4EDF2;
}

a:focus {
   outline: none;
}

.menu a:hover {
   background: #9198e5;
   color: #CEEFF2;
}

/* ###### CONTEÚDO ######  */

.logoConteudo {
   padding: 50px 0;
   display: flex;
   justify-content: center;
   fill: #BABABA;
}

.conteudo {
   display: grid;
   margin: auto;
   align-items: center;
   justify-items: flex-end;
   max-width: 70vw;
   grid-template-columns: 1fr 1fr;
   background-color: white;
}

.introducao {
   width: 70%;
   padding: 15px;
   text-align: end;
}

#label-introducao {
   font-family: 'Permanent Marker';
   font-size: 22pt;
   margin-bottom: 15px;
}

.introducao-cover img {
   display: block;
   width: 100%;
   height: 100%;
}

.conteudo-dois {
   display: grid;
   margin: auto;
   align-items: center;
   max-width: 70vw;
   grid-template-columns: 1fr 1fr;
}

.conteudo-dois h2 {
   font-size: 38pt;
   font-family: 'Permanent Marker';
   color: #BABABA;
   text-align: end;
}

.introducao-dois {
   padding-right: 30px;
}

.faixas {
   padding: 50px;
   background: white;
}

.faixas-item {
   border-left: 0 solid #9198E5;
   transition-property: border-left;
   transition-duration: 0.1s;
}

.faixas-item:nth-child(2n+1) {
   background: #E9E9E9;
}

.faixas-item h3 {
   padding: 20px 0 10px 30px;
   font-size: 15pt;
}

.faixas-item h4 {
   padding: 0 0 20px 60px;
   font-size: 11pt;
   color: #8a8888;

}

.faixas-item:hover {
   border-left: 6px solid #9198E5;
}

.faixas-item a:hover {
   cursor: pointer;
}

/* ###### RODAPÉ ###### */

.rodape {
   display: flex;
   align-items: center;
   justify-content: center;
   background: white;
   margin-top: 15px;
}

.rodape div {
   width: 100%;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.rodape svg {
   margin: 15px;
   width: 40px;
   height: 40px;
   fill: #9198e5;
}

.rodape svg:hover {
   fill: #F299D3;
   cursor: pointer;
}

.menuMobile {
   display: none;
   height: 40px;
   width: 40px;
   margin: 20px 20px 60px 0;
}

.mm_line {
   height: 2px;
   background-color: #ffffff;
}

/* #### RESPONSIVIDADE #### */

@media (max-width: 1000px) {

   .logoConteudo {
      display: none;
   }

   .conteudo {
      margin-top: 5vw;
      max-width: 90vw;
   }

   .introducao-dois {
      padding: 30px;
   }

   .introducao-dois>h2 {
      text-align: center;
   }

   .conteudo-dois {
      display: grid;
      margin: auto;
      align-items: center;
      max-width: 90vw;
      grid-template-columns: 1fr;
   }

}

@media (max-width: 700px) {

   .menuMobile {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      cursor: pointer;
   }

   .menu ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      height: 300px;
      left: 0;
      width: 100%;
      background: #8B90C7;
      padding: 0;
   }

   .menu li, .menu a{
      width: 100%;
   }

   .logoConteudo {
      display: none;
   }

   .introducao {
      text-align: center;
      padding: 40px;
   }

   .conteudo {
      margin-top: 5vw;
      max-width: 100vw;
      grid-template-columns: 1fr;
      justify-items: center;
   }

   .introducao-dois {
      padding: 30px;
   }

   .introducao-dois>h2 {
      text-align: center;
   }

   .conteudo-dois {
      display: grid;
      margin: auto;
      align-items: center;
      max-width: 100vw;
      grid-template-columns: 1fr;
   }

   .faixas {
      padding: 15px;
   }

   .rodape {
      font-size: 9pt;
      margin-right: 10px;
   }

}

@media (min-width:700px) {
   .menu ul {
      display: flex !important;
   }
}
